header {
  margin: 1em 0;
  color: $color-silver;
  lost-utility: clearfix;

  a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.1s;

    &:visited {
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-white;
      transition-duration: 0.1s;
    }
  }

  h1 {
    margin: 0;

    a {
      span {
        color: $color-brandyRose;
      }

      &:hover,
      &:active {
        color: inherit;
      }
    }
  }

  .header__social {
    text-align: right;

    a {
      color: $color-brandyRose;
    }

    .header__credits {
      font-size: 12px;
      margin-bottom: 0.2em;

      span {
        color: $color-brandyRose;
      }

      img {
        margin: 0 0 0 0.3em;
        transition: transform 0.2s ease-in-out;
      }

      h2 {
        display: block;
        font-size: 0.8em;
        padding-right: 1.3em;
        position: relative;
        margin: 0;
        top: 0;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  header {
    .col-2-3,
    .col-1-3 {
      lost-column: 1/2;
    }
  }
  h1 {
    font-size: 1.5em;
  }
}
